<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Delivery Intelligence Portal</title>
  <%= stylesheet_link_tag 'lumley' %>
  <%= stylesheet_link_tag 'dtree' %>

  <%= javascript_include_tag :all %>
  <%= include_tiny_mce_if_needed %>

</head>
  <body style="margin: 0px; padding: 0px;">
    <%= yield %>
  </body>

</html>